.error {
  margin: 24px;
  color: white;
}

.error-section {
  padding: 16px;
  background-color: red;
}

.error-msg, .error-retry {
  display: block;
}

@media only screen and (min-width: 480px) {
  .error-msg, .error-retry {
    display: inline;
  }
}

.error-icon {
  font-size: 20px;
}

.retry-action {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 480px) {
  .retry-action {
    float: right;
  }
}

.retry-icon {
  width: 26px;
}