.white-text {
  color: white;
}

.stone-text {
  color: #425266;
}

.stone-background {
  background-color: #425266;
}

.green-background {
  background-color: green;
}

.red-background {
  background-color: red;
}

.orange-background {
  background-color: orange;
}

.no-background {
  background-color: transparent;
}