body {
  color: #425266;
  font-size: 12px;
  background-color: #6B7B8F;
}

.container {
  width: 100%;
  max-height: 100vh;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap: wrap;
}

.cell {
  -webkit-flex-grow: 0; /* Safari 6.1+ */
  -webkit-flex-shrink: 0; /* Safari 6.1+ */
  -webkit-flex-basis: 46%; /* Safari 6.1+ */
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 46%;
  margin: 1%;
  padding: 1%;
  background-color: white;
}

@media only screen and (min-width: 480px) {
  .cell{
    -webkit-flex-basis: 29.333%; /* Safari 6.1+ */
    flex-basis: 29.333%;
  }
}

@media only screen and (min-width: 992px) {
  .cell{
    -webkit-flex-basis: 16%; /* Safari 6.1+ */
    flex-basis: 16%;
  }
}